= simple_form_for [:admin, resource], wrapper: :vertical_form do |f|
  = f.input :published, as: :radio_buttons, wrapper: :vertical_radio_and_checkboxes
  = f.input :thumbnail_link
  = f.input :title
  = f.input :teaser
  = f.input :body, input_html: { rows: 20 }
  = f.button :submit
