= content_for :meta_title, adverts_title_text(collection)
- set_meta_tags description: adverts_description_text(collection)

= content_for :teaser do
  #teaser
    .container
      .row
        .col-sm-9
          %h1.text-left= adverts_title_text(collection)
        .col-sm-3
          = render("searcher")

.row
  .col-sm-8
    .row
      = render @adverts
      .text-center
        = paginate @adverts
  .col-sm-4.line-left
    %h3.primary Temas destacados
    .row
      = render Article.spotlighted.limit(4)
    = render "adsense"