%head
  %title= "#{yield(:meta_title)} | Sudamos".html_safe
  - if Rails.env.staging?
    %meta{name: "robots", content: "noindex,nofollow"}
  = display_meta_tags
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %meta{"http-equiv"=>"content-type", content: "text/html; charset=utf-8"}
  %meta{"http-equiv"=>"content-language", content: "es"}
  = stylesheet_link_tag "application", "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  = javascript_include_tag "application"
  = render "typekit"
  %link{rel: "shortcut icon", href: asset_url("favicon.png"), type: "image/png"}
  %link{rel: "icon", href: asset_url("favicon.png"), type: "image/png"}
  - if Rails.env.production?
    = render "analytics"
  = csrf_meta_tag
  = yield(:head)
